.view {
    background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-size: cover;
}
html,
body,
header,
.view {
  height: 100%;
}

#preloader{
  background-color: black;
  opacity: 0.5;
  z-index: 99999;
  position: absolute;
  width: 100%;
}