.md-form{
    margin-bottom: 0px;
}
td{
    font-size: 0.8rem !important;
}
@media (min-width: 1700px){
    .container {
        max-width: 1700px;
    }
}

#spinner.hide-opacity{
    opacity: 0;
}

#spinner {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
     opacity: 1;
}

.modal-body hr{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


.input-group.md-form.form-sm.form-1 input{
    border: 1px solid #bdbdbd;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    font-size: .8rem;
}
.input-group.md-form.form-sm.form-1 span{
    font-size: .8rem;
}

table.table thead th{
    border: 1px solid #dee2e6;
}

thead th div.md-form{
    margin-top: 0px;
}